// Initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

// Custom Settings
$family-sans-serif: "Nunito", sans-serif;
//$primary: $purple;
//$link: $pink;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$body-background-color: #f4f4f4;

//$navbar-padding-vertical: 2rem;

// Rest of Bulma
@import '../node_modules/bulma/bulma';

.navbarLogo {
  height: 4rem;
  width: auto;
}

.containerLogin {
  max-width: 25rem;
}

body.has-navbar-fixed-top {
  padding-top: 4.25rem
}

html,body{
  height:100%;
}

#root, .container {
  height: 100%;
}

.fullHeight {
  height: 100%;
}