* {
  box-sizing: border-box
}

html {
  font-size: 100%;
  font-family: "Roboto", "Noto", sans-serif;
}

body {
  background: #f9f9f9;
}

// todo: are below needed?

.navbarLogo {
  height: 4rem;
  width: auto;
}

.containerLogin {
  max-width: 25rem;
}

body.has-navbar-fixed-top {
  padding-top: 4.25rem
}

html,body{
  height:100%;
  margin: 0;
}

#root, .container {
  height: 100%;
}

.fullHeight {
  height: 100%;
}


